<header class="container-fluid bg-light py-3 shadow fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="flex-grow-1 d-flex align-items-center">
      <span
        class="material-icons me-2 fs-2"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
        role="button"
      >
        menu
      </span>
      <span class="d-none d-md-block">Gênesis 1</span>
    </div>
    <div>
      <button
        class="btn btn-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
      >
        Gênesis
      </button>
      <button class="btn btn-dark">1</button>
      <button class="btn btn-dark">ARC</button>
    </div>
    <div class="ms-2 ms-md-4 d-flex align-items-center">
      <span class="material-icons"> volume_up </span>
      <span class="material-icons"> more_vert </span>
    </div>
  </div>
</header>
