.offcanvas-header--bg {
  background-image: url("../../../assets/images/sidebar-bg.png");
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
