<div
  class="offcanvas offcanvas-bottom border-top-0 vh-100"
  tabindex="-1"
  id="offcanvasBottom"
  aria-labelledby="offcanvasBottomLabel"
>
  <div class="offcanvas-header justify-content-end shadow-sm">
    <h5 id="offcanvasBottomLabel" class="flex-grow-1 align-content-center">
      Índice
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <nav>
      <ul class="list-unstyled d-flex justify-content-between">
        <li
          class="flex-grow-1 text-center pb-3 border-3 border-dark border-bottom"
        >
          LIVRO
        </li>
        <li class="flex-grow-1 text-center pb-3 border-3 border-dark">
          CAPÍTULO
        </li>
        <li class="flex-grow-1 text-center pb-3 border-3 border-dark">
          VERSÍCULO
        </li>
      </ul>
    </nav>
    <nav class="container">
      <ul class="list-unstyled">
        <li>
          <a
            href="#"
            class="text-decoration-none text-dark fw-bold d-flex flex-row align-items-center"
          >
            <span
              class="rounded-pill bg-dark d-flex c-avatar text-white align-items-center justify-content-center me-2 text-capitalize"
            >
              Gn
            </span>
            <span class="fs-3 fw-normal">Gênesis</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
