<footer class="container-fluid bg-dark py-3">
  <div class="container">
    <nav class="row justify-content-between">
      <ul class="list-unstyled col-sm-12 col-md-5">
        <h3 class="text-white mb-4">Media Sociais</h3>
        <li class="mt-1">
          <a
            class="text-decoration-none text-white d-flex align-items-center"
            href="#"
          >
            <i class="fa-brands fa-facebook fs-3 me-2"></i> Facebook
          </a>
        </li>
        <li class="mt-1">
          <a
            class="text-decoration-none text-white d-flex align-items-center"
            href="#"
          >
            <i class="fa-brands fa-instagram fs-3 me-2"></i>
            Instagran
          </a>
        </li>
        <li class="mt-1">
          <a
            class="text-decoration-none text-white d-flex align-items-center"
            href="#"
          >
            <i class="fa-brands fa-youtube fs-3 me-2"></i> YouTube
          </a>
        </li>
      </ul>
      <ul class="list-unstyled col-sm-12 col-md-5">
        <h3 class="text-white mb-4">Contatos</h3>
        <li class="mt-1">
          <a
            class="text-decoration-none text-white d-flex align-items-center"
            href="#"
          >
            <i class="fa-solid fa-envelope fs-3 me-2"></i>
            joabson_dev.front@hotmail.com
          </a>
        </li>
        <li class="mt-1">
          <a
            class="text-decoration-none text-white d-flex align-items-center"
            href="#"
          >
            <i class="fa-brands fa-whatsapp fs-3 me-2"></i> (38) 99846-0998
          </a>
        </li>
      </ul>
    </nav>

    <span
      class="text-white d-flex align-items-center w-100 justify-content-center mt-4 fw-light"
      >Copyright &copy; - todos os direitos reservados</span
    >
  </div>
</footer>
